header{
	font-size:7vh;
	color:#fff;
	width:85vw;
	position:absolute;
	top:5%;
	left:54%;
	text-align:center;
	transition:left 1s ease;
	z-index:1;
}

#main{
	height:100vh;
	width:100vw;
	background-image:url("../images/main.jpg");
	background-position:auto;
	transition:1s ease;
	position:absolute;
	top:0%;
	overflow:auto;
}

#nxt{
	position:absolute;
	right:2%;
	top:50%;
	height:5%;
	width:5%;
}

#prev{
	position:absolute;
	left:2%;
	top:50%;
	height:5%;
	width:5%;
	transform:rotate(180deg);
}

.info{
	height:100vh;
	width:85vw;
	position:absolute;
	left:54%;
	top:0%;
	text-align:center;
	color:#fff;
	transition:left 1s ease;
	display:inherit;
}

.head1{
	position:relative;
	top:25%;
}

button{
	background-color:transparent;
	border-radius:8px;
	border-color:#fff;
	color:#fff;
	cursor:pointer;
	transition:.5s ease;
}

.button{
	display:block;
	position:relative;
	top:50%;
	margin:auto;
}

button:hover{
	background-color:#fff;
	color:#000;
}

nav{
	height:10vh;
	width:100vw;
	display:none;
	position:fixed;
	top:0%;
}

.nav{
	border:none;
	border-left:.2vh solid white;
	border-radius:0px;
	position:relative;
	display:none;
	font-size:3vh;
	padding:1vh 2vw 1.5vh 2vw;
}

#nav_2{
	border-right:.2vh solid white;
}

#holder{
	height:88vh;
	width:100vw;
	position:absolute;
	top:10vh;
	display:none;
	border:none;
}

.aut{
	background-color: #777;
}